.arrText {
    text-anchor: middle;
    fill: #d3d3d3;
}

.countText {
    text-anchor: middle;
    fill: black;
}

#info-box {
    text-align: center;
    height: 50px;
    margin: 0 auto;
    width: 10%;
    margin-top: 2%;

    font-size: large;
}

#main-svg {
    display: block;
    margin: auto;

    background-color: rgba(255, 255, 255, 0.75);
    border-style: groove;
}

#counting-sort-box {
    background-color: rgba(255, 255, 255, 0.75);
    margin: auto;
    margin-top: 30px;
}

body {
    background: radial-gradient(ellipse at top, lightblue, transparent),
            radial-gradient(ellipse at bottom, lightgreen, transparent);
}